{% extends 'base.html' %}

{% block head_block %}
{% load staticfiles %}
<script src="{% static "js/jquery-3.1.1.js" %}"></script>
<script src="{% static "js/rango-jquery.js" %}"></script>
<script src="{% static "js/like.js" %}"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static "css/main.css" %}">
<script src="{% static "js/csrf.js" %}"></script>
{% endblock %}

{% block body_block %}


<div id = "search_form" class="center-block">
    <h1> Need idea for your trip? </h1>
    <div class="input-group">
        <form action="" method="post" id = "search-form" >
            {% csrf_token %}
            <div class="col-xs-9">
                {{ form.as_p }}
                {{ form.media }}
            </div>
            <div class="col-xs-3">
                <span class="input-group-btn">
                    <button class="btn btn-primary" id="search_submit" name = "search_submit" type="submit" value = "submit" ><span class="glyphicon glyphicon-search"></span></button>
                </span>
            </div>
        </form>
    </div>
</div>



<div id = "loading">
    <h3>Please wait.. </h3>
    <img src="{% static "images/ajax-loader.gif" %}" alt="loading">
</div>

<div id = "post">
</div>
{% endblock %}
